<h1>Reservations#new</h1>
<p>Find me in app/views/reservations/new.html.erb</p>
<!-- 
<% form_for @reservation do |f| %>
  <div>
    <%= f.label :date %>
    <%= f.datetime_select :res_date_time %>
  </div>
  <div>
    <%= f.label :seats %>
    <%= f.number_field :seats %>
  </div>
<% end %> -->
