<h1>Seat Yo Self @...</h1>

  <div class="">
    <% @restaurants.each do |restaurant| %>
      <div class="restaurants">
        <p>
          <img src="http://www.tacobueno.com/media/1339/beeftacolarge.png?quality=65" />
          <%= link_to restaurant.name, restaurant_path(restaurant.id) %><br/>
          
        </p>
      </div>
    <% end %>
  </div>
