<section class="category-page">
<h1 class="cravin-drake">Drake gots ta know what ya CRAVIN</h1>


  <div class="category_home">
    <div class="category-list">
         <% @categories.each do |category| %>
          <p>
            <%= link_to category.name, category_path(category.id) %>
          </p>
        <% end %>
      </div>
         <%= image_tag("Drake 4.png") %>
  </div>
</section>
