<h1>Drake gots ta know what ya CRAVIN</h1>

<div class="category_home">
  <% @categories.each do |category| %>
    <div class="category-list">
      <p>
        <%= link_to category.name, category_path(category.id) %>
      </p>
    </div>
  <% end %>
</div>
